<%- include("partials/header.ejs")%>


<div class="row">
    <div class="col-sm-12">
        <header class="jumbotron" >
            <h1>Welcome to BanglaCamp</h1>
            <p>
                View our best campgrounds listing from all over the Bangladesh
            </p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary">Add a new camp</a>
            </p>
        </header>
    </div>
</div>
<div class="row text-center">
  <% campgrounds.forEach(campground => { %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="<%=campground.image%>" alt="">
        <div class="caption">
          <h4><%=campground.name%></h4>
        </div>
        <p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
        </p>
      </div>
    </div>
  <% })%>
  
</div>



<%- include("partials/footer.ejs")%>
