<%- include ("../partials/header.ejs") %>

<div class="row">
  <h1 class="text-center">Edit <%= campground.name %></h1>
  <div class="form-wrapper">
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="campground[name]" placeholder="Name" value="<%= campground.name%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="campground[price]" placeholder="Price" min="1.0" step="1.0" value="<%= campground.price%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="campground[image]" placeholder="Image Url" value="<%= campground.image%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="campground[description]" placeholder="Description" value="<%= campground.description%>">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Submit!</button>
      </div>
    </form>
    <a href="/campgrounds" class="text-center">Go Back to Home</a>
  </div>
  
</div>


<%- include ("../partials/footer.ejs") %>