<%- include ("../partials/header.ejs") %>

<div class="row">
  <div class="col-md-3">
    <p class="lead"><%= campground.name%></p>
    <div class="list-group">
      <li class="list-group-item active">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </div>
    
    
  </div>

  
  <div class="col-md-9">
   
    <div class="thumbnail">
      <img src="<%=campground.image%>" class="img-responsive" alt="<%= campground.name%>">
      <div class="content-wrapper">
        <div class="caption-full">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="text-left">
                <a href="/campgrounds/<%=campground._id%>"><strong><%= campground.name%></strong></a>
              </h4>
            </div>
            <div class="col-sm-6">
              <h4 class="text-right"><strong>BDT ৳<%= campground.price%>/ night</strong> </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <p class="text-justify"><%= campground.description %></p>
                <p class="author-name text-right">
                  Submitted by &mdash; <em><%=campground.author.username%> , <%= moment(campground.createdAt).fromNow() %></em>
                </p>
                
                <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                  <!-- edit button for post  -->
                  <div class="ui right floated main menu increased-font">
                    <a class="edit popup icon item" data-content="Edit This Post" data-position="bottom center" href="/campgrounds/<%=campground._id%>/edit"  data-variation="inverted">
                      <i class="edit icon"></i>
                    </a>

                    <!-- delete button for post  -->
                    <button class="btn button delete popup icon item" data-content="Delete This Post" data-position="bottom center" data-variation="inverted"><i class="trash alternate icon"></i></button>
                  </div>
                  
                <% } %>
               

            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="well">
      <div class="text-right">

        <!-- show comment form if the user is logged in  -->
        <% if(currentUser) { %>
          <%- include("../comments/new.ejs")%>
          <hr>
        <%}%>
      </div>

      <% if(campground.comments.length > 0) { %>
        <!-- show all the comments -->
        <% campground.comments.forEach(comment => { %>
          <div class="row">
            <div class="col-md-12">
              <div class="comment-wrapper">

              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <p><%= comment.comment %></p>
              </div>
              <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>

                <div class="ui left floated main menu comment-bottom-space">

                  <!-- edit button for comment -->
                  <button class="btn button editComment edit popup icon item"  data-content="Edit This Comment" data-position="bottom center" data-variation="inverted">
                    <i class="edit outline icon"></i>
                  </button>

                  <!-- delete button for comment  -->
                  <button class="btn button deleteComment popup delete popup icon item" data-content="Delete This Comment" data-position="bottom center" data-variation="inverted">
                    <i class="trash alternate icon"></i>
                  </button>
                </div>
                
               
                

                  <!-- modal for edit comment -->
                  <div class="ui small modal">
                    <i class="close icon"></i>
                    <div class="header"> Edit Your Comment</div>
                    <div class="content">
                      <div class="ui form">
                        
                        <div class="field">
                          
                          <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit?_method=PUT" method="POST">
                            <div class="form-group">
                              <textarea name="comment[comment]" id="" class="editComment"><%= comment.comment%></textarea>
                          </div>
                      </div>
                      <button class="ui right floated green button ">Edit</button>
                    </form>
                      </div>
                    </div>
                  </div>

                
                


                <!-- modal delete comment confirmation -->

                <div class="ui mini modal">
                  <div class="header">Delete Your Comment</div>
                  <div class="content">
                    <p>Are you sure you want to delete this comment?</p>
                  </div>
                  <div class="actions">
                    <div class="ui positive button">No</div>
                    <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="s-modal-from">
                      <button class="ui negative button">Delete</button>
                    </form>
                  </div>
                </div>


              <% } %>
              
            
          </div>
          </div>
        <%})%>
        <!-- if there is no comment the show this message -->

      <%} else { %>
        <p>No comments to show</p>
      <% } %>
      


    </div>
  </div>
  
</div>




<!-- modal delete post confirmation -->

<div class="ui tiny modal">
  <div class="header">Delete Your Post</div>
  <div class="content">
    <p>Are you sure you want to delete this post?</p>
  </div>
  <div class="actions">
    <div class="ui positive button">No</div>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="s-modal-from">
      <button class="ui negative button">Delete</button>
    </form>
  </div>
</div>





<%- include ("../partials/footer.ejs") %>

<script>

autosize($('.editComment'));
</script>